/* main variables */
$inner_width: '';

$color-base: #ffffff;
$color-hover: #3c4e94;
$page-color-style: darken(#d1beaf, 10%);

$header_bg: '';
$menu_color: #ffffff;

$header-logo_bg: #b4d249;
$header-logo_hover: $color-hover;
$header-line_bg: silver;

$icon-menu_color: #ffffff;
$icon-menu_hover: #ffffff;
$link-menu_color: #ffffff;
$link-menu-mobile_color: darken(#4daec9, 10%);
$link-menu_hover: $color-hover;
$link-menu-active_color: darken(silver, 0%);



$icon-social_color: $color-base;
$icon-social_hover: $color-hover;




