<footer class="footer" style="">

  

  <div class="container">
  
    <div class="footer__inner">
      <nav class="footer__menu menu">

        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="">
              <img class="menu__list-image" src="icon/game.png" alt="image">
              <span class="menu__list-title">игра</span>
            </a>
          </li>
  
          <li class="menu__list-item">
            <a class="menu__list-link" href="">
              <img class="menu__list-image" src="icon/earn.png" alt="image">
              <span class="menu__list-title">заработать</span>
            </a>
          </li>       

          <li class="menu__list-item">
            <a class="menu__list-link" href="">
              <img class="menu__list-image" src="icon/pay.png" alt="image">
              <span class="menu__list-title">выплатить</span>
            </a>
          </li>     
  
          <li class="menu__list-item">
            <a class="menu__list-link" href="">
              <img class="menu__list-image" src="icon/replenish.png" alt="image">
              <span class="menu__list-title">пополнить</span>
            </a>
          </li>   

          <li class="menu__list-item">
            <a class="menu__list-link" href="">
              <img class="menu__list-image" src="icon/missions.png" alt="image">
              <span class="menu__list-title">миссии</span>
            </a>
          </li>

          <li class="menu__list-item">
            <a class="menu__list-link" href="">
              <img class="menu__list-image" src="icon/more.png" alt="image">
              <span class="menu__list-title">ещё</span>
            </a>
          </li>       
        </ul>             
        
      </nav>                                      
    </div><!-- footer__inner --> 
      
  </div><!-- container -->      
</footer>
