/* Операторы:
  & - имитирует родителя
  > - обращение к первому дочернему элементу */

@import "base/_reset.scss";
@import "base/_normalize.scss";
@import "base/_brakepoints.scss";
@import "base/_container.scss";

@import "helper/_variables.scss";
@import "helper/_mixins.scss";
@import "helper/_display.scss";

@import "layout/footer.scss";
@import "layout/menu.scss";

@import "pages/index.scss";

/* reset, normalize */

/*
:root {
  font-size: 0.75em; 
}

@media screen and (min-width: 800px) {
  :root {
    font-size: 0.875em; 
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 1em; 
  }
}
*/

:root {
  font-size: 1em; 
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%; 
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;  
  padding: 0; 
  /*font-size: 20px; /**/
  /*font-family: 'Open Sans', Arial, Verdana, 'Times New Roman', 
                 'Liberation Sans', 'DejaVu Sans', Calibri, Helvetica, sans-serif;*/
  font-family: 'Open Sans', sans-serif; /**/
  font-weight: 300;
  line-height: 1.5; /* 150% */
  /*background: linear-gradient(to right, #f6e3f8  30%, #aeb1f9 100%);*/
}

.wrapper {
  display: flex; 
  flex-direction: column;
  /*justify-content: flex-end;*/     
  min-height: 100vh; 
  margin: 0;             
  padding: 0; 
  overflow: hidden;  
  background: linear-gradient(to bottom right, #f6e3f8 0%, #ffffff 50%, #aeb1f9 100%);
}

.main {    
  margin-bottom: $footer-inner_height + 25px; 
  flex-grow: 1; 
}

.container {   
  max-width: 460px; /* 444px по макету, учитываем padding */   
  margin: 0 auto;   
  padding: 0 5px;
  /*@media screen and (max-width: 350px) {
    padding: 0 7px;
  }*/ 
}

/*
.container {   
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (max-width: 350px) {
    padding: 0 7px;
  } 
}

@media screen and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  } 
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  } 
}
*/

a { 
  text-decoration: none;   
  color: inherit; 
  cursor: pointer;  
}

ul,
li {
  list-style-type: none;
}


